<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Document</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <form th:action="@{/guardar}" th:object="${cliente}" method="post">
		
		<div class="form-group">
			<label for="inputCodigo"> Código </label>
			<input th:field="*{id}">
		</div>
		
		<div class="form-group"></div>
		
		<div class="form-group"></div>
		
		<div class="form-group"></div>
		
		<div class="form-group"></div>
		
		<div class="form-group"></div>
	</form>
</body>
</html>